body{
  background-color: #093;
  font-family: "Ubuntu Mono", monospace;
  text-align: center;
  font-size: 20px;
}

h2 {
  display: flex;
  align-items: center;
}
h2:before,
h2:after {
  border-top: 1px solid;
  content: "";
  flex-grow: 1;
}
h2:before {
  margin-right: 1rem;
}
h2:after {
  margin-left: 1rem;
}

footer{
  position: fixed;
  top: 90vh;
  left: 0;
  right: 0;
  bottom: 50px;
  font-size: 20px;
}

footer a{
  background-color: white;
  color: black;
}
footer a:hover{
  -webkit-animation: color-changer ease 0.5s forwards;
}

#logo{
  background: rgba(255,0,0,0.0);
  height: 20px;
  font-size: 30px;
}

.links{
  background-color: white;
  color: black;
}

.links:hover{
  -webkit-animation: font-bigger ease 0.5s forwards;
}

@-webkit-keyframes font-bigger{
  100%{
    background-color: black;
    color: white;
    font-size:30px;
  }
}
@-webkit-keyframes color-changer{
  100%{
    background-color: black;
    color: white;
  }
}
